 body {
  background-image: url('https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/cac1042d-d53c-4ff8-8151-1ddc25d498ba_scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 10%;
  text-align: left;
}

h1, h2, h3 {
  text-shadow: 1px 1px 4px black;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 30px auto; 
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: large;
  width: fit-content; 
}



nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  
}

section, article {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-contato {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills .card {
  width: 150px;
  text-align: center;
  padding: 15px;
}

.skills img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
#contato img {
  transition: 0.3s;
  cursor: pointer;
}

#contato img:hover {
  transform: scale(1.1);
}