.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.hamburguer {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

#menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

#menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* MOBILE */
@media (max-width: 768px) {

  .hamburguer {
    display: block;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(0,0,0,0.9);
    padding: 15px;
    border-radius: 10px;
  }

  #menu.ativo {
    display: flex;
  }
}